/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 120px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    float: left;
}
nav ul{
    display: flex;
    padding: 0.5rem;
    margin: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    float: right;
    list-style: none;
}
.cover{
    padding: 1px;
    display: flex;
    align-items: center;
    width: 100%;
}
.img{
    align-items: center;
    justify-content: center;
    float: center;

}
section div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-around;
    
}
section span{
    display: flex;
    justify-content: center;
}
