/*
Colors:

Text: 1A1A1A
Green: #00B172
White: #FFF

*/
body{
    font-family: sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.logo{
    width: 120px;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    float: left;
}
nav ul{
    font-family: sans-serif;
    display: flex;
    padding: 0.5rem;
    margin: 5px;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    float: right;
    list-style: none;
}
.hero-image{
    font-family: sans-serif;
    width: 98vw;
    height: 100vh;
    background-image: url(/images/landing.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    color:aliceblue;
    font-size: xx-large;
    flex-direction: column;
    gap: 10px;
}
.img{
    align-items: center;
    justify-content: center;
    float: center;
}
.section-title span{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}
.divs0{
    display: flex;
    padding: 0.5rem;
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    width: 100%;
    justify-self: center;
}
.divs1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: left;
}
.divs2{
    margin: 0%;
    padding: 7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: center ;
}.divs3{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    float: right;
}
section .section-title{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    float: center ;
    font-weight: bold;
    font-size: xx-large;
    text-decoration: underline;
}
.section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}
.section > div {
    /*flex-basis: 30%;*/
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
    width: 60%;
}
.section img {
    max-width: 100%;
}

.section .title {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    float: center;
    color: #00B172;
}
footer{
    font-family: sans-serif;
    width: 100%;
    background-color:#00B172 ;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.img1{
    width: 100px;
    float: right;
}
.img2{
    width: 200px;
    float: center;
}
.footer{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    font-size: x-large;
    color: white;
}
.footer :first-child{
    text-decoration: underline;
}
.know, .check, .enjoy{
    font-size: medium;
}